<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%=4+5+1%></h1> <!--<%= %> is used for embedding JS in HTML using EJS and RENDER IT -->
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad repellendus temporibus dignissimos cupiditate,
        maiores nihil aliquid sint asperiores quisquam, porro molestias veritatis officiis, ipsa quibusdam beatae
        ducimus rem incidunt provident.
        Distinctio, dolore at enim maiores a placeat neque dolor? Commodi tempore cumque doloremque eius ut? Ad
        aspernatur deserunt similique porro impedit, perferendis qui laudantium voluptatem fugit reiciendis voluptatibus
        odio ipsam!
    </p>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea explicabo molestias iure, distinctio error harum ad.
        Dicta, officiis ipsum repudiandae amet sunt ut atque harum omnis odit error architecto ab!
        Non quo ex voluptas, vel, dignissimos quas aspernatur soluta tempora tenetur error quod assumenda incidunt qui
        nobis. Harum eum suscipit perspiciatis voluptas quibusdam at non dicta deserunt itaque assumenda? Non!
    </p>
</body>

</html>